//colors

$primary-old: #FE5F1E;
$primary-hover-old: #b23301;

$primary: #900C3F ;
$primary-hover: #581845;
$secondary: #F8F8F8;
$pure: #fff;
$dark: #232323;
$gray: #ccc;


//Transition

$smoth: all .3s ease-in-out;